<!-- {{title}} - {{trainingHours}} Hours<br>
<button (click)="courseType('Angular Tutorial', 50)">Angular Training</button>
<button (click)="courseType('React Tutorial', 60)">React Training</button>
<button (click)="courseType('Vue Tutorial', 70)">Vue Training</button> -->

<!-- <app-customer></app-customer> -->
<!-- <app-customer></app-customer> -->
<router-outlet></router-outlet>



<!-- <button (click)="functionName()">Search</button> -->
<!-- 
<button (click)="getAllStudents()">Get Students</button>

<button (click)="getStudentById('Tom')">Search Student</button> -->